<h4> Edit </h4>
<h5> <i><%=@album.title%></i> by <%=@album.artist%> </h5> 
<br> 
<form action="/albums/<%=@album.id%>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <p>Title: <input type="text" name="title" placeholder="<%=@album.title%>"></p>
    <p>Artist: <input type="text" name="artist" placeholder="<%=@album.artist%>"></p>
    <p>Year: <input type="text" name="year" placeholder="<%=@album.year%>"></p>
    <p>Label: <input type="text" name="label" placeholder="<%=@album.label%>"></p>
    <p>Single: <input type="text" name="single" placeholder="<%=@album.single%>"></p>
    
    
    <p>Reissue:
        <select class="browser-default" name="reissue">
            <option value=true>Yes</option>
            <option value=false>No</option>
        </select>
    </p> 
    
    <p>Condition: 
        <select class="browser-default" name="condition">
            <option value="New">New</option>
            <option value="Good">Good</option>
            <option value="Fair">Fair</option>
            <option value="Poor">Poor</option>
        </select>
    </p>
    
    <p><input id="button" class="btn black" type="submit" value="Update"></p>
</form>

<p> <form action="/library">
    <input id="button" class="btn black" type="submit" value="Back">
    </form>
</p>

<p> <form action = "/logout">
    <input id="button" class="btn black" type ="submit" value="Log Out">
    </form>
</p>