<h1> <%=@album.title%> </h1>
<h2> <%=@album.artist%>, <%=@album.year%> </h2> 
<p> Produced by: <%=@album.producer%> </p>
<p> <%=@album.label%> </p>
<p> Single: "<%=@album.single%>" </p> 
<p> Album Condition: <%=@album.condition%> </p>
<p> Reissue: <%if @album.reissue == true %>
        <%=@album.reissue = "Yes" %> 
    <%elsif @album.reissue == false%> 
        <%=@album.reissue = "No"%>
    <%end%>
</p>


